# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
indent_size = 2
end_of_line = crlf
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.rb]
charset = utf-8

[*.md]
trim_trailing_whitespace = false
